body {
  font-family: 'Bree Serif', serif;
  background-color: #343a40;
}

.container-fluid {
  padding-top: 15px;
}

/* ----------------------------------------header */

header {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #343a40;
}

.btn {
  font-weight: 600;
  border: 0;
}

.btn-secondary a {
  padding-left: 5px;
}

.dropdown-menu {
  padding: 0!important;
  margin: 0;
}

.dropdown-toggle {
  float: left!important;
}

.dropdown {
  padding-right: 20px;
  padding-left: 0!important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.jumbotron {
  background-image: url("../../assets/img/jumbotron-mobiel.jpg");
  background-size: 100% 100%;
  color: #FFF;
  text-shadow: 0 5px #AA151B;
  margin-bottom: 0;
  height: 250px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
} 

.display-2 {
  margin-top: 81px;
  font-size: 3.8rem;
  text-align: center;
}

.navbar-nam {
  background-color: #f2f2f2;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #343a40;
  margin-bottom: 0;
  border-radius: 5px;
  text-align: center;
}

h2 {
  font-size: 1.7rem;    
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #343a40;
  margin-bottom: 0;
  border-radius: 5px;
  text-align: center;
}

h5 {
  text-align: center;   
  margin-left: 5px;
  margin-right: 5px; 
}
a:hover {
  text-decoration: none;
 }

.btn-secondary {
  border-color:#f2f2f2;
  color:#f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #343a40;
}

.nav-item {
  background-color: #f2f2f2;
}

.head {
  padding: 5px;
  border-radius: 25px;
}

.dropdown-toggle {
  float: right;
}

.row {
  color: #424141;
  margin-right: 0;
  margin-left: 0;
}
 
.no-margin-left { 
  margin-left: 0;
  margin-bottom: 2px;
}
  
.padding-right {
  margin-right: -15px!important;
}
  
.carousel-caption {
  color: #f2f2f2;
  right: 0%;
  left: 2%;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 4%;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #f2f2f2; 
  border-radius: 5px;
}

.white-bottomborder {
  border-bottom: solid 2px #f2f2f2!important;     
}
  
.head13 {
  width: 100%;
  border: 0;
  text-align: center;
  padding-bottom: 0 !important;
  padding-top: 15px !important;
}

.col-4 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}  

.col-8 {
  padding-left: 5px;
  padding-right: 5px;
}  

.col, .col-12 {
  padding: 0;
}

.col-md-6 {
 padding-right: 0;
 padding-left: 0; 
}  

/* ----------------------------------------Pages */

p {
margin-bottom: 0;  
}

.pagetext {
  color: #f2f2f2;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
  
.pagetextbody {
  color: #f2f2f2;
  padding: 5px;
}

.index-header {
  background-color: #f2f2f2;
  color: #343a40;
  margin-bottom: 0;
}

.head13page {
  background-color: #343a40;
  width: 100%;
  border: 0;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  }
  
.pagehead1 {
  background-color: #343a40;
  color: #f2f2f2;
}


/* ----------------------------------------Contact Form */

.contact-heading {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f2f2f2;
    background-color: #4887CE;
    border: 0;
}

.padding-form {
  padding-top: 30px;
}

.mobile-padding {
  padding-left: 5px;
  padding-right: 5px;    
}

/* ----------------------------------------Footer */

footer {
  padding: 5px;
  border-top: solid #f2f2f2 3px;
  margin-top: -1px;
  text-align: center;
}

.padding-fa {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ----------------------------------------Links */

a {
  color: #f2f2f2;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #343a40;
  background-color: #f2f2f2; 
  padding-left: 5px;   
}

.active { 
  background-color: #ffffb3!important;
  color: #343a40!important;
}

.no-padding {
  padding: 0 !important;
}

.fab {
    text-shadow: 2px 2px #080808;
    background-color: transparent;
}


/* ----------------------------------------Google maps */
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
    }
    
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  }

/* ----------------------------------------General layout */  
  
h4 {
  padding-top: 10px;
  color: white;
  text-align: center;
}
  
.bg-yellow {
  background-color: #f2f2f2;
}

.bg-dark {
    padding-right: 0;
    padding-left: 0;
}
  
.col-xl-8 {
    padding: 0;
}
  
.mobile-border {
    border: solid 5px #f2f2f2;
}
  
.col-lg-4 {
  padding-right: 0;
}

.padding {
padding-top: 15px; 
padding-bottom: 15px;
}

.image-spacing {
padding-bottom: 5px; 
}

/* ----------------------------------------ID's */

#mobile {
  padding: 0; 
}

#side-padding-main {
  padding-left: 5px;
  padding-right: 5px;    
}

#padding-bottom {
  padding-bottom: 15px;
}

#no-margin {
  margin: 0;
}

#button-color {
  background-color: #cc0000!important;
  color: #f2f2f2!important;
}

#padding-line {
  padding-right: 0;
  padding-left: 0;
  border-top: #f2f2f2 solid 3px;
}

#tab-1:hover {
  color: #000000;
  text-decoration: none;
}

/* ----------------------------------------Media Queries */

@media(min-width: 768px){
.mobile-padding {
  padding-left: 0;
  padding-right: 0;    
  } 
}

@media(min-width: 768px) and (max-width: 992px){
.tablet-width {
  padding-left: 2px;
  padding-right: 2px;
  }
#no-toppadding2 {
  padding-top: 15px!important;
  }
.head13page {
  padding-top: 0 !important;
  }
.display-2 {
  margin-top: 201px;
  font-size: 5rem;
  text-align: center;
  }
.jumbotron {
  background-image: url("../../assets/img/banner2.jpg");
  height: 350px;
  }
.col-md-6 {
  padding-right: 15px;
  padding-left: 15px; 
  }
.center-form {
  max-width: 70%;    
  padding-bottom: 50px;
  } 
}

@media(min-width: 992px) {
.col-lg-8 {
  border-right: solid 3px #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
  }
#side-padding-main {
  padding-left: 0;
  padding-right: 0;    
  }
.white-bottomborder {
  border-bottom: solid 0px #f2f2f2!important;     
  }
.head13page {
  padding-top: 0!important;
  }  
.jumbotron {
  background-image: url("../../assets/img/banner2.jpg");
  height: 350px;
  }
.tablet-width {
  padding-left: 15px;
  padding-right: 15px;
  }
header {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #343a40;
  }
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;   
  padding-left: 0;
  padding-right: 0; 
  }
h2 {
  font-size: 2.2rem;    
  }
h3 {
  font-size: 1.75rem;
  }
#no-toppadding2 {
  padding-top: 0!important;
  }
.display-2 {
  margin-top: 201px;
  font-size: 5.9rem;
  text-align: center;
  }
.padding-fa {
  padding-left: 30px;
  padding-right: 30px;
  }
.col-md-6 {
  padding-right: 15px;
  padding-left: 15px; 
  }
.contact-heading {
  margin-left: 15px;
  margin-right: 15px;  
  }
}

@media(min-width: 992px) and (max-width: 1050px) {
.center-form {
  padding-top: 80px;
  padding-bottom: 250px;
  margin: 0 auto;
  max-width: 50%;
  }
}