body {
  font-family: 'Bree Serif', serif;
}

.container-fluid {
  padding-top: 15px;
}

/* ----------------------------------------header */

.header {
  margin: 0;
}

.header-spacing {
  padding-top: 10px;
}

.btn {
  font-weight: 600;
  border: 0;
}

.btn-secondary a {
  padding-left: 5px;
}

.top-buffer { 
  margin-top:20px; 
  background-color: #343a40;
}

.dropdown-menu {
  padding: 0!important;
  margin: 0;
}

.dropdown-toggle {
  float: left!important;
}

.dropdown {
  padding-right: 20px;
  padding-left: 0!important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.jumbotron {
  background-size: 100% 100%;
  color: #AA151B;
  text-shadow: 0 1px black;
  margin-bottom: 0;
  height: 350px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
} 

.display-2 {
  margin-top: 20px;
  font-size: 4.2rem;
  text-align: center;
}

#black-letters {
  color: black;
  padding-left: 5px;
  background-color: #f2f2f2;
}

.navbar-nam {
  background-color: #f2f2f2;
}

h3 {
  line-height: 1.5;
}

.jumbotron {
  background-size: cover; 
  background-repeat: no-repeat;
  margin-bottom: 0;
  height: 350px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

/*
.jumbotron-mobile {
	background-image: url('assets/img/banner-mobiel.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
	height: 200px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
} 

.jumbotron-tablet {
	background-image: url('assets/img/banner-mobiel.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
	height: 361px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
}
*/

 a:hover {
  text-decoration: none;
 }

.btn-secondary {
  border-color:#f2f2f2;
  color:#f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #343a40;
}

.nav-item {
  background-color: #f2f2f2;
}

.head {
  padding: 5px;
  border-radius: 25px;
}

.dropdown-toggle {
  float: right;
}

.row {
  color: #424141;
  margin-right: 0;
  margin-left: 0;
}
 
.no-margin-left { 
  margin-left: 0;
}
  
.padding-right {
  margin-right: -15px!important;
}
  
.carousel-caption {
  color: #f2f2f2;
  right: 0%;
  left: 2%;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 4%;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #f2f2f2; 
  border-radius: 5px;
}

.desktop {
  color: #f2f2f2;
  right: 1%;
  left: 5%;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 2%;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #f2f2f2; 
  border-radius: 5px;
}
  
.head13 {
  width: 100%;
  border: 0;
  text-align: center;
  padding-bottom: 0 !important;
  padding-top: 15px !important;
}
  
.content13 {
  background-color: /*rgb(255, 196, 0);*/ #e9ecef;
  width: 100%;
  border: 0;
  padding: 0;
}
  
.content24 {
  background-color: #adb5bd;
  width: 100%;
  border: 0;
  padding: 0;
}

.col-4 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}  

.col-8 {
  padding-left: 5px;
  padding-right: 5px;
}  

.col, .col-12 {
  padding: 0;
}

.col-md-6 {
 padding-right: 15px;
 padding-left: 15px; 
}  

.row-12 {
  padding: 0;
}

/* ----------------------------------------Pages */

p {
margin-bottom: 0;  
}

.pagetext {
  background-color: #343a40;
  color: #f2f2f2;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
  
.pagetextbody {
  background-color: #343a40;
  color: #f2f2f2;
  padding: 5px;
}

.pagehead {
  background-color: #f2f2f2;
  color: #343a40;
  margin-bottom: 0;
}

.pagehead-mobile {
  background-color: #f2f2f2;
  color: #343a40;
  margin-bottom: 0;
}

.head13page {
  background-color: #343a40;
  width: 100%;
  border: 0;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  }
  
.pagehead1 {
  background-color: #343a40;
  color: #f2f2f2;
}


/* ----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f2f2f2;
    background-color: #4887CE;
    border: 0;
}

.padding-form {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* ----------------------------------------Footer */

.footer-color {
  padding: 5px;
  border-top: solid #f2f2f2 3px;
  margin-top: -1px;
}

.padding-fa {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ----------------------------------------Links */

a {
  color: #f2f2f2;
}

/*a:hover {
  color: #ffffb3;
  transition: 0.5s ease-in-out;
}
*/

.active { 
  background-color: #ffffb3!important;
  color: black!important;
}

.no-padding {
  padding: 0 !important;
}

.fab {
    text-shadow: 2px 2px #080808;
    background-color: transparent;
}


/* ----------------------------------------Google maps */
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
    }
    
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  }

/* ----------------------------------------General layout */  
  
h4 {
  padding-top: 5px;
}

.col-lg-8 {
   border-right: solid 3px #f2f2f2;
}
  
.bg-yellow {
  background-color: #f2f2f2;
}
  
.col-xl-8 {
    padding: 0;
}
  
.mobile-border {
    border: solid 5px #f2f2f2;
}
  
.col-lg-4 {
  padding-right: 0;
}

.padding {
padding-top: 15px; 
padding-bottom: 15px;
}

.image-spacing {
padding-bottom: 5px; 
}

/* ----------------------------------------ID's */

#mobile {
  padding: 0; 
}

#padding {
  padding-right: 0;
}

#padding-bottom {
  padding-bottom: 15px;
}

#no-margin {
  margin: 0;
}

#button-color {
  background-color: #cc0000!important;
   color: #f2f2f2!important;
}

#padding-line {
  padding-right: 0;
  border-top: #f2f2f2 solid 3px;
}

#no-toppadding {
  padding-top: 0;
}


#tab-1:hover {
  color: #000000;
  text-decoration: none;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) and (max-width: 1050px) {
    .center-form {
        padding-top: 80px;
        padding-bottom: 267px;
        margin: 0 auto;
        max-width: 50%;
    }
}